
/* 
    Tool tip 4 : LEFT
*/

#tip4 {
    display: inline-block;
    position: relative;
}

#tip4 .tip {
    /* TOOLTIP DECORATION */
    visibility: hidden;
    width: 22rem;
    height: 3rem;
    background-color: slategray;
    background: slategray;
    text-transform: uppercase;
    text-align: center;
    color: blueviolet;
    line-height: 47px;
    border-radius: 12px;
    z-index: 1;

    /* TOOLTIP POSITION */
    position: absolute;
    left: -1123.3%;
    top: -15px;

}


#tip4 .tip:after {
    /* ARROW DECORATION */
    content: " ";
    color: black;
    position: absolute;

    margin-right: -5px;
    /* BORDER WIDTH | STYLE | COLOR */
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent slategrey;

    /* ARROW  POSITION */
    left: 99.8%;
    top: 17px;
}

#tip4:hover .tip {
    visibility: visible;
}



/* 
    Tool tip 3 : TOP
*/

#tip3 {
    display: inline-block;
    position: relative;
}

#tip3 .tip{
    /* TOOLTIP DECORATION */
    visibility: HIDDEN;
    text-transform: uppercase;
    padding: 5px 5px;
    width: 235px;
    background: tomato;
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px violet;
    
    /* TOOLTIP POSITIONING */
    position: absolute;
    z-index: 1;
    top: -47px;
    left: -337%;
}

#tip3 .tip::after{
    /* ARROW DECORATION */
    content: " ";
    color: tomato;
    position: absolute;
    
    /* MARGIN TOP */
    margin-top: -5px;

    /* BORDER - WIDTH | STYLE | COLOR */
    border-width: 5px;
    border-style: solid;
    border-color: tomato transparent transparent transparent;
    
    /* ARROW POSITIONING */
    left: 48%;
    bottom: -10px;
    
}



#tip3:hover .tip{
    visibility: visible;
}


/* 
    Tool tip 2 : RIGHT
*/

#tip2 {
    display: inline-block;
    position: relative;
}

#tip2 .tip2-tip{
    /* TOOLTIP DECORATION */
    visibility: hidden;
    background: blanchedalmond;
    text-align: center; 
    padding: 5px 5px;
    z-index: 1;
    border-radius: 5px;
    width: 175px;
    text-transform: capitalize;
    margin-left: 5px;
    
    /* POSITION */
    position: absolute;
    top: -15px;
    left: 116%;
    
}

#tip2 .tip2-tip::after{
    /* TOOLTIP ARROW DECORATION */
    content: " ";
    color: black;
    margin-left: -13px;
    border-width: 9px;
    border-style: solid;
    
    /* TOOLTIP ARROW  POSITION */
    position: absolute;
    left: -2%;
    top: 16px;
    border-color: transparent blanchedalmond transparent transparent;
    
}

#tip2:hover .tip2-tip{
    visibility: visible;
}



/* 
    Tool tip 1 : BOTTOM
*/

#tip1{
    display: inline-block;
    position: relative;
}

#tip1:hover .tip1-tip{
    visibility: visible;
}

#tip1 .tip1-tip{
    /* TOOLTIP DECORATION */
    visibility: hidden;
    width: 142px;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: -webkit-center;
    margin-top: 4px;

    /* POSITIONING */
    position: absolute;
    z-index: 1;
    top: 19px;
    left: -180%;
}

#tip1 .tip1-tip::after {
    content: " ";
    margin-left: -6px;
    border-width: 7px;
    position: absolute;
    border-style: solid;
    left: 43%;
    top: -14px;
    border-color: transparent transparent black transparent;
}


/* 
    WORK SECTIONS
*/

.playground-section {
    margin: 3rem;
}


#tooltip-experiment {
    display: inline-flex;
    margin: 2rem;

}


body {
    margin: 4px;
}
