/* Styling  */

html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    font-family: Helvetica;
    margin: 0;
    background: rgba(0, 0, 0, 0.801);
}

.header {
    height: 148px;
}

.header .image {
    background: url(".././images/top_banner.jpg") no-repeat;
    width: 100%;
    height: 160px;
}

.header-text{
    padding-top: 90px;
    padding-left: 19px;
}

.header-text h1, .header-text h4 {
    color: #403f3f;
    margin: 0;
}

.navigator {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #160c0c;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navigator li {
    display: block;
    margin: auto;
    height: 76px;   
}

.navigator li a {
    display: block;
    color: #e4e4e4;
    padding: 8px 16px;
    text-decoration: none;
}

.navigator img {
    display: block;
    margin: auto;
}

.navigator li a {
    background-color: rgb(35, 37, 35);
    height: 60px;
}

.navigator li a div {
    margin-top: 20px;
    display: inline-flex;
}


li a:hover{
    background-color: rgba(50, 51, 50, 0.842);
    color: white;
}


.nav-explore{
    border-style: solid;
    border-right-color: #4e9ad3;
}


.nav-folder{
    border-style: solid;
    border-right-color: #f631ef;
}

.nav-cloud_upload{
    border-style: solid;
    border-right-color: #ff9400;
}


#app-content{
    position: absolute;
    background: rgb(248, 242, 242);
}

#app-content .card-content{
    margin: 10px;
    background: rgb(248, 242, 242);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    float:left;
    margin: 25px;
}

.card hr {
    width: 75%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.reorder-tiles {
    float: right;
    width: 20%;
    margin: 10px;
}