/* Styling  */

html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    font-family: Helvetica;
    margin: 0;
    background: rgba(0, 0, 0, 0.801);
}

.header .image {
    background: url(".././images/top_banner.jpg") no-repeat;
    width: 100%;
    height: 160px;
}

.header-text{
    padding-top: 90px;
}

.header-text h1, .header-text h4 {
    color: #403f3f;
    margin: 0;
}

.navigator {
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #160c0c;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navigator li {
    display: block;
    margin: auto;
    height: 76px;   
}

.navigator li a {
    display: block;
    color: #e4e4e4;
    padding: 8px 16px;
    text-decoration: none;
}

.navigator img {
    display: block;
    margin: auto;
}

.navigator li a {
    background-color: rgb(35, 37, 35);
    height: 76px;
}

.navigator li a div {
    margin-top: 20px;
    display: inline-flex;
}



li a:hover{
    background-color: rgba(50, 51, 50, 0.842);
    color: white;
}




/* 

.misc {
    border: right;
    explore: #4e9ad3;   // side bar color on nav icon
    folder: #f631ef;
    upload: #ff9400;
    font-size: 14px bold;
    font-color: e4e4e4;

}

.top-banner {
    font-color: #403f3f;
    large-text: 60px, bold;
    small-text: 18px, bold;
}

.boxes {
    font-color: #403f3f;
    title: 18px, bold,
    filename: 14px. bold
    description: 12px regular; 
    line-height: 24px;
}


 */